# Simple Linear Regression
One input column and one output column.

In [2]:
import pandas as pd
import seaborn as sns

In [4]:
dowjones = sns.load_dataset("dowjones")
dowjones

          Date   Price
0   1914-12-01   55.00
1   1915-01-01   56.55
2   1915-02-01   56.00
3   1915-03-01   58.30
4   1915-04-01   66.45
..         ...     ...
644 1968-08-01  883.72
645 1968-09-01  922.80
646 1968-10-01  955.47
647 1968-11-01  964.12
648 1968-12-01  965.39

[649 rows x 2 columns]